<div>
    <h1>Templates</h1>

    <div class="grid grid-cols-3 gap-8">
        <% @templates.each do |template| %>
        <div class="bg-white rounded-md p-4">
            <h2>Template name: <%= template.name %></h2>
            <p>Content: <%= template.content %></p>
        </div>
        <% end %>
    </div>
</div>